@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans KR', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.bg {
  z-index: -500;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  filter: blur(6px);
  -webkit-filter: blur(6px);
  background-size: cover;
  background-repeat: no-repeat;
  background: white url('/opendoor.gif');
}

.bg-on {
  z-index: -500;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  filter: blur(6px);
  -webkit-filter: blur(6px);
  background-size: cover;
  background-repeat: no-repeat;
  background: white url('/bangon.gif');
}

.bg-base {
  background-color: rgba(0, 0, 0, 0.2);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.main {
  z-index: 500;
  color: white;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 30px;
}

@media (max-width: 645px) {
  h1 {
    font-size: 36px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
*/

.panel-blur-hide {
  background-color: rgba(255, 255, 255, 0.0);
  color: rgba(255, 255, 255, 0.0);
  /*padding: 1.5rem;
  padding-left: 3.0rem;
  padding-right: 3.0rem;
  border-radius: 15px;*/
  transition-property: all 0.25s cubic-bezier(.17,.67,.83,.67);
	transition-duration: 0.25s;
}

.panel-blur-show {
  /*background-color: rgba(255, 255, 255, 0.418);*/
  color: rgba(255, 255, 255, 1.0);
  /*padding: 1.5rem;
  padding-left: 3.0rem;
  padding-right: 3.0rem:
  border-radius: 15px;*/
  transition-property: all 0.25s cubic-bezier(.17,.67,.83,.67);
	transition-duration: 0.25s;
}

svg {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 100px;
  height: 100px;
  transition: all 0.25s cubic-bezier(.17,.67,.83,.67);
}

.show-svg {
  fill: rgba(255, 255, 255, 1.0);
}

.hide-svg {
  fill: rgba(255, 255, 255, 0.0);
}
